{% extends "layout.html" %}

{% block content %}

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <p></p>
                    <h1>Algoritmo de Clustering Scalable</h1>
                    <br>
                    <p>Algoritmo de partición de datos</p>
                    <br>
                    <form class="requires-validation" novalidate method="POST">

                        <div class="col-md-12">
                            <span>Data</span>
                            <select class="form-select mt-3" name="data" required>
                                <option selected disabled value="">Seleccionar</option>
                                <option value="1">Por Defecto</option>
                                <option value="2">Iris</option>
                            </select>
                        </div>
                        <br>

                        <div class="col-md-12">
                            <label for="k">Número de clusters</label>
                            <input class="form-control" type="text" name="k" placeholder="Entero" required>
                        </div>
                        <br>

                        <div class="col-md-12">
                            <label for="l">factor de sobremuestreo</label>
                            <input class="form-control" type="text" name="l" placeholder="Entero" required>
                        </div>
                        <br>

                        <div class="col-md-12">
                            <label for="n">Cantidad de datos</label>
                            <input class="form-control" id="n" type="text" name="n"
                                placeholder="Numero de datos" required>
                        </div>
                        <br>

                        <div class="col-md-12">
                            <label for="d">Dimension</label>
                            <input class="form-control" type="text" name="d" placeholder="Entero" required>
                        </div>
                        <br>

<center>
<h1>Random Initialization</h1>
<img src="{{ url_for('static', filename='images/result_random.png') }}">
<p>
    Random Initialization converged after {{ num_iterations_random }} iterations!
</p>
<h1>Kmeans++ Initialization</h1>
<img src="{{ url_for('static', filename='images/result_pp.png') }}">
<p>
    Kmeans++ Initialization converged after {{ num_iterations_pp }} iterations!
</p>
<h1>Kmeans|| Initialization</h1>
<img src="{{ url_for('static', filename='images/result_scalable.png') }}">
<p>
    Kmeans|| Initialization converged after {{ num_iterations_scalable }} iterations!
</p>
</center>



{% endblock %}