<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fa-solid fa-bars"></i></label>
        <a href="#" class="enlace">
            <img src="{{ url_for('static', filename='images/logoun2.png') }}" alt="" class="logo">
        </a>
        <ul class="menu-horizontal">
            <li><a href="\" class="active">Inicio</a></li>
            <li><a href="{{ url_for('implementacion') }}">Parámetros</a></li>
            <li><a href="{{ url_for('results') }}">Resultados</a></li>
            <li><a href="#">Contactanos</a>
                <ul class="menu-vertical">
                    <li><a class="sergio" href="https://docs.google.com/spreadsheets/d/1iWLAG1jc3KR42OPernpPMUufC9m51h9F/edit?usp=sharing&ouid=116111676099005294143&rtpof=true&sd=true">Información</a></li>
                    <li><a class="sergio" href="https://arxiv.org/abs/1203.6402">Documento</a></li>
                    <li><a class="sergio" href="https://github.com/sevalencial/ProyectoAlgoritmos">Repositorio</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    
    <div class="container"> 
        {% block content %}
    
        {% endblock %}    
    <div>
</body>
</html>